<head>
<style>
@font-face {
  font-family: "FieldworkHum";
  font-weight: 600;
  src: url("/Fieldwork-Hum-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FieldworkHum";
  font-weight: 400;
  src: url("/Fieldwork-Hum-Regular.ttf") format("truetype");
}

#main-container {
    text-align: center;
    font-family: "FieldworkHum";
    font-weight: 400;
}

#main-container table {
    margin: auto;
}

body {
    font-size: 18px;
}

h1 {
    font-family: "FieldworkHum";
    font-weight: 600;
    color: #e75819;
}

/*.toggle-container {
    transition-properties: background-color, padding-left;
}*/
.toggle-container {
    width: 40px;
    height: 16px;
    background-color: #c9c9c9;
    border-radius: 13px;
    padding: 4px;
    cursor: pointer;
    transition-properties: background-color, padding-left;
    transition-duration: 0.3s;
}
/*.toggle-container-on {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 13px;
    padding: 4px;
    padding-left:28px;
    cursor: pointer;
}*/

.toggle-ball {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

#prefs-container tr td:nth-child(1) {
    width: 80px;
    padding: 10px;
}

#prefs-container tr td:nth-child(2) {
    width: 260px;
    text-align: left;
    padding: 10px;
    font-size: 22px;
}

.general-button {
    background-color: #e75819;
    font-family: "FieldworkHum";
    font-weight: 400;
    width: 100px;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#save-button-container {
    margin-top: 20px;
}

</style>
</head>

<div id="main-container">
    <h1>
        Change your communication preferences
    </h1>
    <div id="msg-tgt">
    </div>
    <p>
        Keep <b><%= @email %></b> updated on:
    </p>
    <table id="prefs-container">
        
    </table>
    <div id="save-button-container">
        <button id="save-button" class="general-button" onclick="update_preferences()">
            Saved
        </button>
    </div>
</div>

<script>
/*let prefs = [
    {name:'News Updates',selected:false},
    {name:'Taking Action',selected:false},
    {name:'Giving Opportunities',selected:false},
    {name:'Prayer Opportunities',selected:false},
    {name:'Upcoming Events',selected:false},
    {name:'Upcoming Training',selected:false},
    {name:'Opt Out on Incoming calls',selected:false}
];*/
let prefs = {
    /*'optout-giving':{
        name: 'Giving Opportunities',
        selected: false
    },*/
    'optout-enews':{
        name: 'News Updates',
        selected: false
    },
    'optout-prayer':{
        name: 'Prayer Opportunities',
        selected: false
    },
    'optout-events':{
        name: 'Upcoming Events',
        selected: false
    },
    'optout-polcm':{
        name: 'Taking Action',
        selected: false
    },
    'optout-training':{
        name: 'Upcoming Training',
        selected: false
    }
}
function a(){
    console.log('a');
    let x = document.getElementById('tgt');
    console.log(x.style);
    if (x.style.width !== '16px'){
        console.log('1');
        x.style.backgroundColor = '#00c943';
        x.style.paddingLeft = '28px';
        x.style.width = '16px';
    } else {
        console.log('2');
        x.style.backgroundColor = '#c9c9c9';
        x.style.paddingLeft = '4px';
        x.style.width = '40px';
    }
}

const all = ["optout-giving", "optout-enews", "optout-prayer", "optout-events", "optout-polcm", "optout-training"];

function toggle(code){
    document.getElementById('save-button').innerHTML = "Save";
    let x = document.getElementById('toggle_'+code);
    console.log(prefs);
    if (x.style.width !== '16px'){
        prefs[code].selected = true;
        x.style.backgroundColor = '#00c943';
        x.style.paddingLeft = '28px';
        x.style.width = '16px';
    } else {
        prefs[code].selected = false;
        x.style.backgroundColor = '#c9c9c9';
        x.style.paddingLeft = '4px';
        x.style.width = '40px';
    }
}

let toggle_all_status = false;

function toggle_all(){
    document.getElementById('save-button').innerHTML = "Save";
    let x = document.getElementById('toggle_all');
    let i;
    console.log(prefs);
    console.log(toggle_all_status);
    if (!toggle_all_status){
        x.style.backgroundColor = '#00c943';
        x.style.paddingLeft = '28px';
        x.style.width = '16px';
        for (i = 0 ; i < all.length ; i++){
            if (!prefs[all[i]].selected){
                toggle(all[i]);
            }
        }
        toggle_all_status = true;
    } else {
        x.style.backgroundColor = '#c9c9c9';
        x.style.paddingLeft = '4px';
        x.style.width = '40px';
        for (i = 0 ; i < all.length ; i++){
            if (prefs[all[i]].selected){
                toggle(all[i]);
            }
        }
        toggle_all_status = false;
    }
}

function update_preferences(){
    // commspreferences
    document.getElementById('save-button').innerHTML = "Saving...";
    let res = [];
    //prefs.forEach((v,j) => v.selected ? res.push(v) : false);
    all.forEach((v, j) => !prefs[v].selected ? res.push(v) : false);
    console.log("res");
    console.log(res);
    //return false;
    fetch("/commspreferences",{
        method: 'POST',
        credentials: 'include',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'x-csrf-token': '<%= form_authenticity_token %>'
        },
        body: JSON.stringify({
            email: "<%= @email %>",
            token: "<%= @token %>",
            preferences: res
        })
    }).then( (response) => {
        if (response.ok){
            return response.json();
        }
        document.getElementById('refund-secondary-message').innerHTML = "Error encountered. Please keep this page and speak to your system administrator.";
        throw new Error('Request fail');
    }).then(json => {
        if (json.success){
            document.getElementById('save-button').innerHTML = "Saved";
        } else {
            document.getElementById('msg-tgt').innerHTML = "There was an error.";
        }
    });
}

/*const supplied = "<%= @preferences %>".split(',').map((x, i) => x.trim());
console.log(prefs);
let i;
for (i = 0 ; i < prefs.length ; i++){
    prefs[i].selected = (supplied.includes(prefs[i].name));
}
console.log(prefs);
//document.getElementById('prefs-container').innerHTML = prefs.map((x,i) => "<tr><td></td><td>"+x+"</td></tr>" );

for (i = 0 ; i < prefs.length ; i++){
    document.getElementById('prefs-container').innerHTML += '<tr><td><div id="toggle-'+String(i)+'" class="toggle-container" onclick="toggle(\''+String(i)+'\')"><div class="toggle-ball" /></div></td><td>'+prefs[i].name+"</td></tr>";
}

for (i = 0 ; i < prefs.length ; i++){
    if (prefs[i].selected){
        toggle(i);
    }
}*/
let avant = <%= raw @preferences %>;
console.log("avant");
console.log(avant);

let i, x;
for (i = 0 ; i < all.length ; i++){
    document.getElementById('prefs-container').innerHTML += '<tr><td><div id="toggle_'+all[i]+'" class="toggle-container" onclick="toggle(\''+all[i]+'\')"><div class="toggle-ball" /></div></td><td>'+prefs[all[i]].name+"</td></tr>";
    toggle(all[i]);
}

document.getElementById('prefs-container').innerHTML += '<tr><td style="padding-top:20px;"><div id="toggle_all" class="toggle-container" onclick="toggle_all()"><div class="toggle-ball" /></div></td><td style="padding-top:20px;">'+'Select all (you will be opted in/out of all)'+"</td></tr>";

for (i = 0 ; i < avant.length ; i++){
    if (prefs[avant[i]] != undefined){
        console.log("Toggling");
        console.log(avant[i]);
        toggle(avant[i]);
    }
}


//function 

</script>
