<h2>
    Welcome, <%= current_user.name %>
</h2>

<h3>
    Search donation by SecurePay Order ID
</h3>
<input type="text" class="txt-input" id="order-id-tgt" />
<button onclick="go_to_donation()">
    Go
</button>

<h3>
    Recent donations
</h3>
<% @donations.each do |donation| %>
    <div class="index-donation-container">
        <h3>
            <a href="/donation/<%= donation.order_spid %>"><%= donation.order_spid %></a>
        </h3>
        <table>
            <tr>
                <td>
                    Amount
                </td>
                <td>
                    A$<%= (donation.amount_in_cents / 100).to_i %>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <%= donation.first_name %> <%= donation.last_name %>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <%= donation.email %>
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    <%= donation.refunded ? "Refunded" : (donation.success ? "Successful" : "Unsuccessful") %>
                </td>
            </tr>
            <tr>
                <td>
                    NationBuilder ID
                </td>
                <td>
                    <%= donation.nbid %>
                </td>
            </tr>
            <tr>
                <td>
                    Created At
                </td>
                <td>
                    <%= donation.created_at.rfc2822.in_time_zone('Australia/Melbourne').rfc2822 %>
                </td>
            </tr>
        </table>
    </div>
<% end %>
<div class="index-donation-container" id="load-more" style="cursor:pointer;text-align:center;" onclick="load_more()">
    Load more
</div>

<script>
function go_to_donation(){
    const id = document.getElementById('order-id-tgt').value;
    window.location = "/donation/"+id;
}

function load_more(){
    document.getElementById('load-more').innerHTML = "Loading...";
    const n = <%= @donations.count %>;
    window.location = "/index?n="+String(n+5);
}
</script>
