<h2>
    Welcome, <%= current_user.name %>
</h2>

<h3>
    Search donation by SecurePay Order ID
</h3>
<input type="text" class="txt-input" id="order-id-tgt" />
<button onclick="go_to_donation()">
    Go
</button>

<div>
<% if !@start.nil? %>
<div>
    <p>
        Searching between <%= @start.rfc2822.in_time_zone("Australia/Melbourne") %> and <%= (@finish+1.day - 10.seconds).rfc2822.in_time_zone("Australia/Melbourne") %>
    </p>
</div>
<% end %>

<h3>
    Search donation by date (inclusive)
</h3>
<table>
    <tr>
        <td>
            <input type="date" id="start" />
        </td>
        <td>
            <input type="date" id="finish" />
        </td>
    </tr>
</table>
<button onclick="search_donations_by_date()">
    Go
</button>

</div>

<h3>
    <%= @start.nil? ? "Recent donations" : "Results (#{@donations.count})" %>
</h3>
<% @donations.each do |donation| %>
    <div class="index-donation-container">
        <h3>
            <a href="/donation/<%= donation.order_spid %>"><%= donation.order_spid %></a>
        </h3>
        <table>
            <tr>
                <td>
                    Amount
                </td>
                <td>
                    A$<%= (donation.amount_in_cents / 100).to_i %>
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <%= donation.first_name %> <%= donation.last_name %>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <%= donation.email %>
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    <%= donation.refunded ? "Refunded" : (donation.success ? "Successful" : "Unsuccessful") %>
                </td>
            </tr>
            <tr>
                <td>
                    NationBuilder ID
                </td>
                <td>
                    <%= donation.nbid %>
                </td>
            </tr>
            <tr>
                <td>
                    Created At
                </td>
                <td>
                    <%= donation.created_at.rfc2822.in_time_zone('Australia/Melbourne').rfc2822 %>
                </td>
            </tr>
        </table>
    </div>
<% end %>
<% if @load_more %>
<div class="index-donation-container" id="load-more" style="cursor:pointer;text-align:center;" onclick="load_more()">
    Load more
</div>
<% end %>

<script>
function go_to_donation(){
    const id = document.getElementById('order-id-tgt').value;
    window.location = "/donation/"+id;
}

function load_more(){
    document.getElementById('load-more').innerHTML = "Loading...";
    const n = <%= @donations.count %>;
    window.location = "/index?n="+String(n+5);
}

function search_donations_by_date(){
    let start = document.getElementById('start').value;
    console.log(start);
    let finish = document.getElementById('finish').value;
    if (start.length === 10 && finish.length === 10){
        window.location = "/index?start="+start.split('-').join('')+"&finish="+finish.split('-').join('');
    }
}
</script>
