<!DOCTYPE html>
<html>
  <head>
    <title>Corsapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <% if flash.any? %>
    <% flash.each do |name, msg| %>
      <div id="flash-<%= name %>">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
